@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@Ajax.BeginForm("publicDetails", "Home",
        new AjaxOptions {
            HttpMethod = "POST", UpdateTargetId = "public_details",
            InsertionMode = InsertionMode.Replace, LoadingElementId = "waitimage" })

<h1>Enter Public Number</h1>
<h2>
    Policy Number: @Html.TextBox("policyNumber")<br/>
    <input type="submit" value="Submit" />
    <input type="reset" value="Clear" />
</h2>
@{Html.EndForm(); }
<br />
<img id="waitimage" src="~/Images/load.jpg" style="display:none" />
<br />
<div id="public_details"></div>